extends default
block content
	h2 Welcome to Home Inventory!
	p This web-site was created to help people like you to keep up with their pantries.
	p You will find few useful tools here that will help you reduce waste and minimize your expenses.
	p Hit sign-up button to join our community of mindful housekeepers and chefs!
	